<div class="container archived-content" [style.backgroundColor]="theme=='dark' ? '#121212': '#eee'">
<h1 class="h1-header" [style.color]="theme=='dark' ? '#eee': '#121212'">Archived</h1>
<mat-divider></mat-divider>
<div class="row">
    <div class="col">
        <div [className]="theme+'-task-card-div'" *ngFor="let task of listOfArchivedTask">
            <h2 [className]="theme+'-h1-card'">{{task.header}}</h2>
            <p [className]="theme+'-paragraf-card'">{{task.text}} </p>
            <button (click)="unArchiveTask(task)" mat-icon-button><mat-icon>visibility_on</mat-icon></button>
        </div>
    </div>

   
    <div class="col"></div>
</div>
<button class="un-btn" mat-raised-button color="primary">Unarchive all</button>
</div>