<div>
    <div id="content">

        <span class="slide">
          <a onclick="openSideNav();">
            <i class="fa fa-bars"></i>
          </a>
        </span>

        <div id="menu" class="nav">
            <a class="close" onclick="closeSideNav();">
                <i class="fa fa-times"></i>
            </a>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Portfolio</a>
            <a href="#">Contact</a>
        </div>
        <!--- Check out w3newbie Templates & Courses! -->

    </div>
</div>