$default-black: rgba(0, 0, 0, 0.979);
$default-border-radius: 20px;
$orange: #ffa900;
$header-font-family: "Righteous",
cursive !important;
$paragraf-font-family: "Montserrat",
sans-serif;
$dosis-font-family: "Montserrat",
sans-serif;
body {
    background-color: $default-black;
}

.large-h1 {
    font-size: 70px;
}

@function setColor($color) {
    @return $color
}