<div [className]="theme+'-dialog-content'">
  <div class="container">
    <form [formGroup]="taskForm">
      <h2>Add new task</h2>
      <div style="padding-top: 1em;">
        <mat-form-field appearance="outline">
          <mat-label>Header</mat-label>
          <input [style.color]="theme=='dark' ? '#eee': '#121212'" formControlName="header" matInput>
          <mat-icon matSuffix>subject</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Short text</mat-label>
          <input [style.color]="theme=='dark' ? '#eee': '#121212'" formControlName="text" matInput>
          <mat-icon matSuffix>subject</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input [style.color]="theme=='dark' ? '#eee': '#121212'" formControlName="due_date" matInput
            [matDatepicker]="picker">
          <mat-datepicker-toggle style="color: orange;" matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-2 text-right">
          <div class="upload-btn-wrapper">

            <button mat-raised-button>
                <mat-icon>attach_file</mat-icon>Add attachment
            </button>
            <input type="file" (change)="upload($event)" style="border: 0 !important;" multiple />
        </div>
        </div>

        <div class="col-2 text-left">
          <div>
            <button mat-raised-button (click)="uploadToFirebase()">
              <mat-icon>cloud_upload</mat-icon> Upload
            </button>
          </div>
        </div>
      </div>
     
      <h5>{{uploaded}}</h5>
      <div class="list" style="color: orange;margin-top: 1.5em;list-style-type: none;">
        <li *ngFor="let image of files">
          <h6>{{image.name}} <a (click)="removeImageFromList(image)">
              <mat-icon style="font-size: 14px;">close</mat-icon>
            </a></h6>
        </li>
      </div>
      <div style="padding-top: 2em;">
        <ckeditor #editor [editor]="Editor" data="{{editorData}}"></ckeditor>
      </div>
      <button class="add-btn" mat-raised-button mat-dialog-close color="primary" (click)="saveTask()">Add tast</button>

    </form>
  </div>
</div>