mat-form-field {
    width: 50%;
}

.add-btn {
    padding-top: .3em;
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #eee;
    font-size: 20px;
    padding-bottom: .3em;
}

/* Dark theme */

.dark-dialog-content {
    padding-top: 2em;
    padding-left: 2em;
    background-color: #121212;
    ;
}

.dark-dialog-content h2 {
    color: #fff;
    opacity: 80%;
}

.dark-input {
    color: #eee;
}

/* Dark theme */

/* Light theme */

.light-input {
    border: 0 !important;
    color: #121212;
}

.light-dialog-content h2 {
    color: #121212;
    opacity: 80%;
}

.light-dialog-content {
    padding-top: 2em;
    padding-left: 2em;
    background-color: #fff;
}

/* Light theme */

mat-icon {
    color: #ff9000;
}

mat-divider {
    border-top-color: #ff9000;
}

mat-label {
    color: #ff9000;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ff9000!important;
    opacity: 1!important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #ff9000 !important;
}

.attachment-container {
    font-size: 0;
    display: -ms-flexbox;
    -ms-flexbox-wrap: wrap;
    -ms-flexbox-direction: column;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

.attachment-div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}