<div>
    <div class="error-div">
        <div class="row">
            <div class="col " style="padding-top: 10em">
                <h1 class="ups-h1">Upsss!!!</h1>
                <h2>Possible error</h2>
                <ul class="text-center" style="padding-top: 1em">
                    <li class="text-left">
                        <h4>If you input not valid account number</h4>
                    </li>
                    <li class="text-left">
                        <h4>Page not found</h4>
                    </li>
                    <li class="text-left">
                        <h4>In transfer process you don't have enough money</h4>
                    </li>

                </ul>
            </div>
            <div class="col">
                <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/soy-smile-249718.appspot.com/o/432-4320881_robot-vector-hd-png-download.png?alt=media&token=e03590b2-f8c0-43ab-a140-2c75dbe3a69d">
            </div>
        </div>
    </div>
</div>