.company-text {
    font-family: 'Raleway', sans-serif !important;
    color: #e1e1e1;
    padding-bottom: 1em;
}
.copyright-text {
    font-family: 'Raleway', sans-serif !important;
    color: #e1e1e1;
   
}