@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Cairo|Dosis&display=swap');
.save-btn{
    margin-left: 1em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    font-size: 20px;
    margin-bottom: 2em;
}

h1,h3{
    font-family: Dosis, sans-serif;
    font-weight: bold;
}


.list{
    padding-top: 2em;
    padding-bottom: 2em;
}
li{
    color: orange;
}
