.background {
    background-image: url('../../assets/img/login.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login-container {
    padding-top: 5em;
    
}

.border-btn {
    width: 40%;
    height: 50px;
    border-radius: 25px;
    margin-top: 1em;
    font-size: 1.2em;
    outline: none;
    border: none;
    background-color: #ff9600;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: .5s;
}
mat-form-field{
    width: 30%;
}

.img-fluid {
    width: 40%;
    height: auto;
}

.img-men {
    width: 75%;
    height: auto;
    padding-top: 10em;
}

/* -------------------------------------------------------- RESPONSIVE ----------------------------------------------- */

@media screen and (max-width:380px) {
    .img-men {
        display: none;
    }
}

@media screen and (max-width:420px) {
    .img-men {
        display: none;
    }
    .login-container {
        padding-top: 8em !important;
    }
    mat-form-field{
        width: 80%;
    }
}

@media screen and (min-width:421px), screen and (max-height:375px) {
    .login-container {
        padding-top: 5em !important;
    }
}

/* -------------------------------------------------------- RESPONSIVE ----------------------------------------------- */