<div class="container">
    <div class="text-center login-container">
        <img src="../../assets/img/avatar3.png" class="img-fluid">
        <h2 class="text-center login-heading">Welcome</h2>

        <div class="text-center">
            <form [formGroup]="loginForm">
                <i class="fa fa-user" style="padding-right: .5em;"></i>
                <mat-form-field class="example-full-width">

                    <input matInput formControlName="username" placeholder="Username" value="">
                </mat-form-field><br>
                <i class="fa fa-lock" style="padding-right: .5em;"></i>
                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Password" formControlName="password" value="">
                </mat-form-field>
                <div class="col text-center">
                    <button mat-button class="border-btn" (click)="login();">Login</button>
                </div>



            </form>
        </div>
    </div>
</div>