<mat-drawer-container class="example-container" value="true" fullscreen>
    <mat-drawer #drawer mode="over" class="sidenav-content mob-sidenav zoom">
        <div class="text-right">
            <a><i class="fa fa-times close-icon"  (click)="drawer.toggle()" ></i></a>
        </div>
        <div class="content text-left" style="position: fixed;padding-top: 3em;">
            <a [routerLink]="['/']" routerLinkActive="router-link-active">
                <h2 class="nav-link-h2">{{this.multiLanguage[0][0][language].sidebar_text1}}</h2>
            </a>

            <a [routerLink]="['/about']" routerLinkActive="router-link-active" >   
                <h2 class="nav-link-h2">{{this.multiLanguage[0][0][language].sidebar_text2}}</h2>
                <a (click)="drawer.toggle()"></a>
            </a>
            <a [routerLink]="['/order']" routerLinkActive="router-link-active">
                <h2 class="nav-link-h2">{{this.multiLanguage[0][0][language].sidebar_text3}}</h2>
            </a>


            <div class="text-left small-link-div">
                <a>
                    <a (click)="drawer.toggle()">
                        <h4 class="nav-link-h4"> {{this.multiLanguage[0][0][language].sidebar_text4}} </h4>
                    </a>
                </a>
                <a >
                    <a (click)="drawer.toggle()">
                        <h4 class="nav-link-h4">{{this.multiLanguage[0][0][language].sidebar_text5}}</h4>
                    </a>
                </a>
                <a >
                    <a (click)="drawer.toggle()">
                        <h4 class="nav-link-h4">{{this.multiLanguage[0][0][language].sidebar_text6}}</h4>
                    </a>
                </a>
                <a >
                    <a (click)="drawer.toggle()">
                        <h4 class="nav-link-h4">{{this.multiLanguage[0][0][language].sidebar_text7}}</h4>
                    </a>
                </a>
                <a >
                    <a (click)="drawer.toggle()">
                        <h4 class="nav-link-h4">{{this.multiLanguage[0][0][language].sidebar_text8}}</h4>
                    </a>
                </a>
            </div>



            <div class="text-left-social-div side-icon" style="padding-top: 4em;">
                <a href=""><i class="fa fa-facebook social-icon"></i></a>
                <a href=""><i class="fa fa-instagram social-icon-left"></i></a>
                <a href=""><i class="fa fa-linkedin social-icon-left"></i></a>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        
        <div class="header">
            
            <div style="position: fixed;">
                <button class="menu-btn" (click)="drawer.toggle()"><i class="fa fa-align-left"></i></button>

            </div>
            
            <div class="stepper container-md zoom" #target>

                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="clientInfoForm">
                        <form [formGroup]="clientInfoForm">
                            <ng-template matStepLabel>{{this.multiLanguage[0][0][language].steper_one}} </ng-template>
                           

                            <div class="col-sm text-left">
                                <mat-form-field appearance="outline" class="input-field">
                                    <mat-label>{{this.multiLanguage[0][0][language].field1_steper_one}}</mat-label>
                                    <input formControlName="name" matInput placeholder="{{this.multiLanguage[0][0][language]. placeholder_field1}}">

                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-sm text-left">
                                <mat-form-field appearance="outline" class="input-field">
                                    <mat-label>{{this.multiLanguage[0][0][language].field2_steper_one}}</mat-label>
                                    <input formControlName="lastname" matInput placeholder="{{this.multiLanguage[0][0][language]. placeholder_field2}}">

                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-sm text-left">
                                <mat-form-field appearance="outline" class="input-field">
                                    <mat-label>{{this.multiLanguage[0][0][language].field3_steper_one}}</mat-label>
                                    <input formControlName="mail" matInput placeholder="{{this.multiLanguage[0][0][language]. placeholder_field3}}">

                                    <mat-hint>{{this.multiLanguage[0][0][language].field4_steper_one}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-sm text-left">
                                <mat-form-field appearance="outline" class="input-field">
                                    <mat-label>{{this.multiLanguage[0][0][language].field5_steper_one}}</mat-label>
                                    <input formControlName="telephone" matInput placeholder="{{this.multiLanguage[0][0][language]. placeholder_field4}}">

                                    <mat-hint>{{this.multiLanguage[0][0][language].field6_steper_one}}</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="link-website-div">
                                <mat-form-field style="width: 90%;">
                                    <mat-label>{{this.multiLanguage[0][0][language].field7_steper_one}}</mat-label>
                                    <input matInput placeholder="{{this.multiLanguage[0][0][language].aaaa}}" formControlName="link">
                                </mat-form-field>
                                <button mat-raised-button class="plus-btn" (click)="addLink()"><i class="fa fa-plus"></i></button>
                                <li *ngFor="let link of listOfLink">
                                    {{link}}
                                </li>

                            </div>
                            <div>
                                <button class="raised-btn" matStepperNext [disabled]="clientInfoForm.invalid">{{this.multiLanguage[0][0][language].button_1}}</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondOrderForm">
                        <form [formGroup]="secondOrderForm">
                            <ng-template matStepLabel>{{this.multiLanguage[0][0][language].steper_two}}</ng-template>

                            <div class="row">
                                <div class="col-sm">
                                    <mat-form-field class="website-type">
                                        <mat-label>{{this.multiLanguage[0][0][language].text1_steper_two}}</mat-label>
                                        <mat-select formControlName="id_site_type">
                                            <mat-option *ngFor="let websiteType of listOfWebsiteTypes" [value]="websiteType.id_site_type ">
                                                {{websiteType.title}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm info-col">
                                    <mat-accordion style="padding-top: 5em;">
                                        <mat-expansion-panel style="background-color: #ff9600;">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Personal data
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    Type your name and age
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>

                                            <div>
                                                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                                the release of Letraset sheets containing Lorem Ipsum passages,

                                            </div>


                                        </mat-expansion-panel>

                                    </mat-accordion>
                                </div>

                            </div>

                            <div>
                                <h4>{{this.multiLanguage[0][0][language].text2_steper_two}}</h4>
                                <mat-slider formControlName="number_of_pages" thumbLabel [displayWith]="formatLabel" tickInterval="4" min="1" max="20"></mat-slider>
                            </div>

                            <div>
                                <mat-slide-toggle formControlName="domain">{{this.multiLanguage[0][0][language].text3_steper_two}}</mat-slide-toggle>

                            </div>
                            <div>
                                <mat-slide-toggle formControlName="hosting">{{this.multiLanguage[0][0][language].text4_steper_two}}</mat-slide-toggle>
                            </div>

                            <div class=" text-left">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{this.multiLanguage[0][0][language].text5_steper_two}}</mat-label>
                                    <input formControlName="site_name" matInput placeholder="">

                                    <mat-hint>{{this.multiLanguage[0][0][language].text6_steper_two}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div style="padding-top: 2em;">
                                <h5>{{this.multiLanguage[0][0][language].text7_steper_two}}</h5>
                            </div>
                            <div>
                                <mat-slide-toggle formControlName="contact_form">{{this.multiLanguage[0][0][language].text8_steper_two}}</mat-slide-toggle>
                            </div>
                            <div style="padding-top: 2em;">
                                <h5>{{this.multiLanguage[0][0][language].text7_steper_two}}</h5>
                            </div>
                            <div>
                                <mat-slide-toggle formControlName="mail_sender">{{this.multiLanguage[0][0][language].text8_steper_two}}</mat-slide-toggle>
                            </div>

                        </form>
                        <div>
                            <button class="raised-btn" style="margin-left: 0em;" matStepperPrevious>{{this.multiLanguage[0][0][language].button_2}}</button>
                            <button class="full-btn" matStepperNext [disabled]="secondOrderForm.invalid">{{this.multiLanguage[0][0][language].button_1}}</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>{{this.multiLanguage[0][0][language].steper_three}}</ng-template>
                        <form [formGroup]="thirdOrderForm">
                            <div class="col-sm-5">
                                <mat-form-field class="website-type">
                                    <mat-label>{{this.multiLanguage[0][0][language].text1_steper_three}}</mat-label>
                                    <mat-select formControlName="id_maintenance_packet">
                                        <mat-option *ngFor="let maintenancePacket of listOfMaintenacePacket" [value]="maintenancePacket.id_maintenance_packet">
                                            {{maintenancePacket.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div style="padding-top: 2em;">
                                        <h5>{{this.multiLanguage[0][0][language].text2_steper_three}}</h5>
                                    </div>
                                    <div>
                                        <mat-slide-toggle formControlName="animation">{{this.multiLanguage[0][0][language].text8_steper_two}}</mat-slide-toggle>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <mat-accordion style="padding-top: 5em;">
                                        <mat-expansion-panel style="background-color: #ff9600;">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Personal data
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    Type your name and age
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>

                                            <div>
                                                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                                the release of Letraset sheets containing Lorem Ipsum passages,

                                            </div>


                                        </mat-expansion-panel>

                                    </mat-accordion>
                                </div>
                            </div>
                            <div style="padding-top: 2em;">
                                <h5>{{this.multiLanguage[0][0][language].text3_steper_three}}</h5>
                            </div>
                            <mat-form-field class="website-type">
                                <mat-label>{{this.multiLanguage[0][0][language].text8_steper_three}}</mat-label>
                                <mat-select formControlName="id_payment_option">
                                    <mat-option *ngFor="let paymentOption of listOfPaymentOptions" [value]="paymentOption.id_payment_option ">
                                        {{paymentOption.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div style="padding-top: 2em;">
                                <h5>{{this.multiLanguage[0][0][language].text4_steper_three}}</h5>
                            </div>
                            <div>
                                <mat-slide-toggle formControlName="photography"></mat-slide-toggle>
                            </div>
                            <div>
                                <h5>{{this.multiLanguage[0][0][language].text5_steper_three}}</h5>
                            </div>
                            <div>
                                <mat-slide-toggle formControlName="foreign_language"></mat-slide-toggle>
                            </div>
                            <div>
                                <mat-hint>{{this.multiLanguage[0][0][language].text7_steper_three}}</mat-hint>
                            </div>
                            <div>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>{{this.multiLanguage[0][0][language].text5_steper_three}}</mat-label>
                                    <textarea matInput formControlName="comment" placeholder=""></textarea>
                                </mat-form-field>
                            </div>
                            <div class="text-left">
                                <button class="full-btn" (click)="createOrder();" [disabled]="thirdOrderForm.invalid">{{this.multiLanguage[0][0][language].button_3}}</button>
                            </div>
                        </form>
                    </mat-step>
                </mat-horizontal-stepper>

            </div>
            <div class="stepper2 container-md"  #target>

                <mat-vertical-stepper [linear]="isLinear" class="mobile-stepper" #stepper>
                    <mat-step [stepControl]="clientInfoForm">
                        <form [formGroup]="clientInfoForm">
                            <ng-template matStepLabel>{{this.multiLanguage[0][0][language].steper_one}}</ng-template>

                            <div class="col-sm text-left">
                                <mat-form-field appearance="outline" class="input-field">
                                    <mat-label>{{this.multiLanguage[0][0][language].field1_steper_one}}</mat-label>
                                    <input formControlName="name" matInput placeholder="Placeholder">

                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-sm text-left">
                                <mat-form-field appearance="outline" class="input-field">
                                    <mat-label>{{this.multiLanguage[0][0][language].field2_steper_one}}</mat-label>
                                    <input formControlName="lastname" matInput placeholder="Placeholder">

                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-sm text-left">
                                <mat-form-field appearance="outline" class="input-field">
                                    <mat-label>{{this.multiLanguage[0][0][language].field3_steper_one}}</mat-label>
                                    <input formControlName="mail" matInput placeholder="Placeholder">

                                    <mat-hint>{{this.multiLanguage[0][0][language].field4_steper_one}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-sm text-left">
                                <mat-form-field appearance="outline" class="input-field">
                                    <mat-label>{{this.multiLanguage[0][0][language].field5_steper_one}}</mat-label>
                                    <input formControlName="telephone" matInput placeholder="Placeholder">

                                    <mat-hint>{{this.multiLanguage[0][0][language].field6_steper_one}}</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="link-website-div">
                                <mat-form-field style="width: 90%;">
                                    <mat-label>{{this.multiLanguage[0][0][language].field7_steper_one}}</mat-label>
                                    <input matInput placeholder="{{this.multiLanguage[0][0][language].aaaa}}" formControlName="link">
                                </mat-form-field>
                                <button mat-raised-button class="plus-btn" (click)="addLink()"><i class="fa fa-plus"></i></button>
                                <li *ngFor="let link of listOfLink">
                                    {{link}}
                                </li>

                            </div>
                            <div>
                                <button class="raised-btn" matStepperNext [disabled]="clientInfoForm.invalid">{{this.multiLanguage[0][0][language].button_1}}</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondOrderForm">
                        <form [formGroup]="secondOrderForm">
                            <ng-template matStepLabel>Fill out your address</ng-template>

                            <div class="row">
                                <div class="col-sm">
                                    <mat-form-field class="website-type">
                                        <mat-label>{{this.multiLanguage[0][0][language].text8_steper_three}}</mat-label>
                                        <mat-select formControlName="id_site_type">
                                            <mat-option *ngFor="let websiteType of listOfWebsiteTypes" [value]="websiteType.id_site_type ">
                                                {{websiteType.title}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm info-col">
                                    <mat-accordion style="padding-top: 5em;">
                                        <mat-expansion-panel style="background-color: #ff9600;">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Personal data
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    Type your name and age
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>

                                            <div>
                                                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                                the release of Letraset sheets containing Lorem Ipsum passages,

                                            </div>


                                        </mat-expansion-panel>

                                    </mat-accordion>
                                </div>

                            </div>

                            <div>
                                <h4>Broj stranica</h4>
                                <mat-slider formControlName="number_of_pages" thumbLabel [displayWith]="formatLabel" tickInterval="4" min="1" max="20"></mat-slider>
                            </div>

                            <div>
                                <mat-slide-toggle formControlName="domain">Domen</mat-slide-toggle>

                            </div>
                            <div>
                                <mat-slide-toggle formControlName="hosting">Hosting</mat-slide-toggle>
                            </div>

                            <div class=" text-left">
                                <mat-form-field appearance="outline">
                                    <mat-label>Naziv sajta</mat-label>
                                    <input formControlName="site_name" matInput placeholder="Placeholder">

                                    <mat-hint>Unesite željeni naziv za sajt kao i domen (.rs,.com,.net ...)</mat-hint>
                                </mat-form-field>
                            </div>
                            <div style="padding-top: 2em;">
                                <h5>Da li želite kontakt formu i okviru sajta ?</h5>
                            </div>
                            <div>
                                <mat-slide-toggle formControlName="contact_form">Slide me!</mat-slide-toggle>
                            </div>
                            <div style="padding-top: 2em;">
                                <h5>Da li želite mogućnost implementaciju elektroske pošte u okviru sajta?</h5>
                            </div>
                            <div>
                                <mat-slide-toggle formControlName="mail_sender">Slide me!</mat-slide-toggle>
                            </div>

                        </form>
                        <div>
                            <button class="raised-btn" style="margin-left: 0em;" matStepperPrevious>{{this.multiLanguage[0][0][language].button_2}}</button>
                            <button class="full-btn" matStepperNext [disabled]="secondOrderForm.invalid">{{this.multiLanguage[0][0][language].button_1}}</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>{{this.multiLanguage[0][0][language].steper_three}}</ng-template>
                        <form [formGroup]="thirdOrderForm">
                            <div class="col-sm-5">
                                <mat-form-field class="website-type">
                                    <mat-label>{{this.multiLanguage[0][0][language].text1_steper_three}}</mat-label>
                                    <mat-select formControlName="id_maintenance_packet">
                                        <mat-option *ngFor="let maintenancePacket of listOfMaintenacePacket" [value]="maintenancePacket.id_maintenance_packet">
                                            {{maintenancePacket.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div style="padding-top: 2em;">
                                        <h5>{{this.multiLanguage[0][0][language].text2_steper_three}}</h5>
                                    </div>
                                    <div>
                                        <mat-slide-toggle formControlName="animation">{{this.multiLanguage[0][0][language].text8_steper_two}}</mat-slide-toggle>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <mat-accordion style="padding-top: 5em;">
                                        <mat-expansion-panel style="background-color: #ff9600;">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Personal data
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    Type your name and age
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>

                                            <div>
                                                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                                                the release of Letraset sheets containing Lorem Ipsum passages,

                                            </div>


                                        </mat-expansion-panel>

                                    </mat-accordion>
                                </div>
                            </div>
                            <div style="padding-top: 2em;">
                                <h5>{{this.multiLanguage[0][0][language].text3_steper_three}}</h5>
                            </div>
                            <mat-form-field class="website-type">
                                <mat-label>{{this.multiLanguage[0][0][language].text8_steper_three}}</mat-label>
                                <mat-select formControlName="id_payment_option">
                                    <mat-option *ngFor="let paymentOption of listOfPaymentOptions" [value]="paymentOption.id_payment_option ">
                                        {{paymentOption.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div style="padding-top: 2em;">
                                <h5>{{this.multiLanguage[0][0][language].text4_steper_three}}</h5>
                            </div>
                            <div>
                                <mat-slide-toggle formControlName="photography"></mat-slide-toggle>
                            </div>
                            <div>
                                <h5>{{this.multiLanguage[0][0][language].text5_steper_three}}</h5>
                            </div>
                            <div>
                                <mat-slide-toggle formControlName="foreign_language"></mat-slide-toggle>
                            </div>
                            <div>
                                <mat-hint>{{this.multiLanguage[0][0][language].text7_steper_three}}</mat-hint>
                            </div>
                            <div>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>{{this.multiLanguage[0][0][language].text6_steper_three}}</mat-label>
                                    <textarea matInput formControlName="comment" placeholder=""></textarea>
                                </mat-form-field>
                            </div>
                            <div class="text-left">
                                <button class="full-btn" (click)="createOrder();" [disabled]="thirdOrderForm.invalid">{{this.multiLanguage[0][0][language].button_3}}</button>
                            </div>
                        </form>
                    </mat-step>
                </mat-vertical-stepper>

            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>