@import '../../assets/css/sidebar/sidebar.css';
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Cairo|Dosis&display=swap');

.mat-stepper-horizontal {
    margin-top: 8px;
}



.header {
    background-image: url('../../assets/img/wave.svg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.mat-form-field {
    margin-top: 16px;
}

.input-field{
    margin-left: 2em;
}

.stepper {
    padding-top: 10em;
    padding-bottom: 5em;
}

.mat-form-field {
    width: 45%;
}


.raised-btn {
    background-color: transparent;
    border: 2px solid #ff9600;
    border-radius: 25px;
    color: #ff9600;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 5em;
    padding-right: 5em;
    margin-left: 3em;
    margin-top: 2em;
}

.full-btn {
    background-color: #ff9600;
    border-radius: 25px;
    border: 0px;
    padding-top: .6em;
    padding-bottom: .6em;
    padding-left: 5em;
    padding-right: 5em;
    margin-top: 2em;
    margin-left: 1em;
}

.link-website-div {
    padding-left: 3em;
}

mat-horizontal-stepper {
    -webkit-box-shadow: 10px 10px 38px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -17px rgba(0, 0, 0, 0.75);
}

.plus-btn {
    margin-left: 2em;
    color: #ff9600;
}


/*  */

mat-slider {
    width: 80%;
}

.info-col {
    padding-top: 2em;
}

.website-type {
    width: 100%;
}

::ng-deep .mat-accent .mat-slider-thumb {
    background-color: black;
}

::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: orange;
}

::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: orange;
}

:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #ff9600;
}

:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #eee;
}

h5 {
    font-family: 'Cairo', sans-serif;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}


@media screen and (max-width:420px){
    .zoom{
        zoom: 85%;
    }.plus-btn{
        margin-left: 0 !important;
    }
    .input-field{
        margin-left: 0 !important;
    }
    
    .link-website-div {
        padding-left: 0em;
    }
    .mobile-stepper{
        zoom: 90%;
    }

    .mat-form-field{
        width: 30vh;
    }
    .h4,h4{
        padding-top: 1em;
    }
    .col-sm-6{
        padding-top: 1em;
    }
    .raised-btn{
        margin-left: 1em !important;
    }
    .full-btn{
        margin-left: 1.2em;
    }
    .kokain{
        display: show !important;
    }
    .stepper{
        display: none;
    }
    .stepper2{
        padding-top: 5em;
        padding-bottom: 5em;
    }
    .text-left{
        padding-left: 0px !important;
    }
    .zoom{
        zoom: 90%;
    }
   
}
@media screen and (min-width:421px){
    .stepper2{
        display: none;
    }
}
@media screen and (max-width:812px) and (min-width:667px){
    .zoom{
           zoom: 50%;
       }
       .sidenav-content{
           padding: 1em;
           padding-right: 20em !important;
           padding-left: 6em !important;
       }
   }