mat-form-field {
    width: 90%;
}

.mat-form-field-label {
    color: black !important;
}

.mat-form-field-underline {
    background-color: black !important;
}

.mat-focused .mat-form-field-label {
    color: #027D7C !important;
}

.subject-h4 {
    color: #fff;
    font-family: 'Dosis', sans-serif;
}

.mail-h3 {
    color: #fff;
    font-family: 'Dosis', sans-serif;
}

.h1-form {
    color: #ff9000;
    font-family: 'Cairo', sans-serif;
}

.mat-divider {
    border-top-color: #ff9000;
}

.mail-content {
    color: #fff;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    line-height: 2em;
}