<div class="header" [ngStyle]="{ 'background-image': 'url(' + background + ')'}">
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#"><img src="../../assets/img/1200px-Code 1.png" class="img-fluid" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div>
        </div>
    </nav>
    <div class="text-center">
        <h1>{{blog.header}}</h1>
    </div>
</div>

<div class="header-container" style="padding-top: 5em;">
    <div class="row">
        <div class="col-sm-2" *ngFor="let tech of blog.listOfTechnologies">
            <h3 style="color: #eee;"><i class="fa fa-arrow-circle-right" style="color: #ffa900;" aria-hidden="true"></i> {{tech.title}}</h3>
        </div>
    </div>
    <mat-divider style="border-top-color: #333;"></mat-divider>
    <div style="padding-top: 5em;">
        <h5 [innerHTML]="blog.longText"></h5>
    </div>
</div>

<div>
    <swiper [config]="config" style="margin-top: 5em;">

        <div class="swiper-wrapper product-slider-container">

            <div class="swiper-slide slider" *ngFor="let image of blog.listOfImages">
                <a routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active">
                    <div class="img-container">
                        <img class="slider-img" id="slider-img" src="{{image.url}} " />


                        <div>
                            <!-- <button class="border-btn-orange " routerLink="/detail/{{product.idProduct}} " routerLinkActive="router-link-active " mat-button>Detail</button>
                        <button mat-button class="full-btn-orange " (click)="addToCart(product) ">Add to card</button> -->
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <!-- Add Arrows -->

    </swiper>
</div>