.header {
    background-color: #121212;
    background-repeat: no-repeat;
}

.navbar a {
    color: #e1e1e1 !important;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
}

.navbar {
    padding-top: 3em;
    padding-left: 3em;
}

h1 {
    font-family: 'Righteous', cursive;
    color: #ffa900;
    font-size: 80px;
}

h4 {
    font-family: 'Montserrat', sans-serif !important;
    color: #999;
    padding-left: 1em;
}

img {
    -webkit-box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
}

h5,
h3 {
    font-family: 'Montserrat', sans-serif !important;
}

h5 {
    color: #e1e1e1;
}

.header-container {
    padding-left: 10%;
    padding-right: 10%;
}

ul li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #ffa900 !important;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}

.slider-img {
    -webkit-box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
    vertical-align: auto !important;
    width: 500px;
    opacity: .7;
}

.row {
    margin: 0 !important;
}

.blog-figure-content h4 {
    padding-top: 1em;
    padding-left: 0 !important;
    font-family: 'Montserrat', sans-serif;
}

.blog-figure-content h2 {
    font-family: 'Righteous', cursive;
}

.blog-figure {
    background-color: #eee;
}

.popular-blog-figure {
    background-color: #222;
    padding: 1em;
    -webkit-box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
}

.blog-content-btn {
    background-color: #0011FF;
    color: #eee;
    border: 1px solid #0011FF;
    border-radius: 3px;
    margin-top: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
    width: 100%;
    -webkit-box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
}

.btn-col {
    padding: 0 !important;
}

@media screen and (max-width:420px){


#slider-img{
   width: 320px;

}
.header-container{
    padding-top: 3em !important;
}
.blog-photo{
    padding-top: 1em;
}
.view-fafa{
    display: none;
}
.header-div{
    padding-top: 0em !important;
}
.mobile-slider{
    display: block !important;
}
.desktop-slider{
    display: none;
}
}

@media screen and (max-width: 812px) and (min-width: 375px){

     .header-container{
         padding-top: 3em !important;
     }
     .blog-photo{
         padding-top: 1em;
     }
     .view-fafa{
         display: none;
     }
     .header-div{
         padding-top: 0em !important;
     }
     .mobile-slider{
         display: block !important;
     }
     .desktop-slider{
         display: none;
     }
     .popular-blog-figure{
         margin-top: 1em;
     }

     .mobile{
         display: none;
     }
     .mobile-container{
         display: block !important;
     }
     }





