<div class="reg-container" style="height: 100vh;">
    <div class="container text-center " style="padding-top: 5%;">
        <h1 style="color: #ff9800;">Task board</h1>
        <mat-divider></mat-divider>
        <h2 style="color: #fff;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. n
        </h2>
        <div class="row">
            <div class="col-3"></div>
            <div class="form-div col-6 text-center" style="margin-top: 5%;">
                <div class="text-center" style="background-color: #ff9800;padding-top: .5em;padding-bottom: .5em;">
                    <h2>Registration form</h2>
                </div>
                <div class="form-content">
                    <form [formGroup]="registrationForm">

                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Fullname</mat-label>
                                <input formControlName="fullname" matInput>
                                <mat-icon matSuffix>contacts</mat-icon>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input formControlName="mail" matInput>
                                <mat-icon matSuffix>alternate_email</mat-icon>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Username</mat-label>
                                <input formControlName="username" matInput>
                                <mat-icon matSuffix>person_pin</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input formControlName="password" type="password" matInput>
                                <mat-icon matSuffix>lock</mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="text-center">
                            <button class="registration-btn" (click)="register()" mat-raised-button >Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-3"></div>
        </div>


    </div>
</div>