<mat-drawer-container class="example-container" value="true">
    <mat-drawer opened #drawer mode="side" style="background-color: #0f0f0f;">
        <div style="padding: 4em;" class="text-center">
            <img src="../../assets/img/user-admin.png" style="width: 100px;" alt="" class="img-fluid">
            <h1 class="text-center alemarc-txt">Alemarc</h1>
        </div>

        <div class="text-left nav-link-div">
            <a (click)="showMail();">
                <h3 style="color: #fff;border-left: 5px solid #ff9000;padding-left: .5em;"><i class="fa fa-envelope" style="font-size: 35px;color: #ff9000;"></i> Mail</h3>
            </a>
        </div>
        <div class="text-left nav-link-div">
            <a (click)="showOrder();">
                <h3 style="color: #fff;border-left: 5px solid #ff9000;padding-left: .5em;"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 35px;color: #ff9000;"></i> Orders</h3>
            </a>

        </div>
        <div class="text-left nav-link-div">
            <a (click)="openBlogDialog();">
                <h3 style="color: #fff;border-left: 5px solid #ff9000;padding-left: .5em;"><i class="fa fa-book" aria-hidden="true" style="font-size: 35px;color: #ff9000;"></i> Post blog</h3>
            </a>

        </div>
        <div class="text-left nav-link-div">
            <a [routerLink]="['/board']" routerLinkActive="router-link-active" >
                <h3 style="color: #fff;border-left: 5px solid #ff9000;padding-left: .5em;"><i class="fa fa-book" aria-hidden="true" style="font-size: 35px;color: #ff9000;"></i> Task bboard</h3>
            </a>

        </div>
        <div>
            <div style="margin-top: 10em;">
                <div class="text-center">
                    <button mat-button class="white-btn" (click)="openChangeLoginDialog()">Change login</button>
                </div>
                <div class="text-center">
                    <button mat-button class="orange-btn" (click)="logout()">Logut</button>
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <button class="menu-btn" (click)="drawer.toggle()"><i class="fa fa-align-left"></i></button>
        <div class="" style="padding-top: 7em;">

            <div class="container mail-div" id="mail-div">
                <div style="padding-bottom: 2em;">
                    <h1 class="header-text text-center">Mejlovi</h1>
                    <mat-divider></mat-divider> 
                </div>
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="lastname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                        <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
                    </ng-container>

                    <!-- Name Column -->

                    <!-- Color Column -->
                    <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                        <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
                    </ng-container>

                    <ng-container matColumnDef="option">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let row" class="text-center">
                            <button mat-raised-button class="preview-btn" (click)="openMessage(row);">Pregledaj</button>
                            <button mat-raised-button class="delete-btn" (click)="deleteMail(row.id_mail)">Delete</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="mailColumn"></tr>
                    <tr mat-row *matRowDef="let row; columns: mailColumn;">
                    </tr>
                </table>

                <mat-paginator id="mail-paginator" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
            </div>

            <div class="container" id="order-div">
                <div style="padding-bottom: 2em;">
                    <h1 class="header-text text-center">Porudžbine</h1>
                    <mat-divider></mat-divider>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <table mat-table [dataSource]="listOfOrder" matSort>


                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="lastname">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="mail">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                                <td mat-cell *matCellDef="let row"> {{row.mail}} </td>
                            </ng-container>
                            <ng-container matColumnDef="telephone">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                                <td mat-cell *matCellDef="let row"> {{row.telephone}} </td>
                            </ng-container>
        
        
                            <ng-container matColumnDef="option">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                                <td mat-cell *matCellDef="let row" class="text-center">
                                    <button mat-raised-button (click)="openOrderPreview(row);" class="preview-btn">Pregledaj</button>
                                    <button mat-raised-button (click)="deleteOrder(row.id_site_order)" class="delete-btn" style="margin-left: 2em;">Delete</button>
                                </td>
                            </ng-container>
        
                            <tr mat-header-row *matHeaderRowDef="orderColumn"></tr>
                            <tr mat-row *matRowDef="let row; columns: orderColumn;">
                            </tr>
        
                        </table>
                    </div>
                    <div class="col-sm">
                        <div class="blog-card" *ngFor="let blog of listOfBlogs">
                        
                            <div class="row">
                              <div class="col-5">
                                <h2 class="text-left">
                                    {{blog.header}}
                                </h2>
                              </div>
                                <div class="col-7 text-right">
                                    <button mat-raised-button color="basic" (click)="openBlogPreview(blog)">Preview</button>
                                    <button mat-raised-button color="primary" style="margin-left: 1em;">Edit</button>
                                    <button mat-raised-button class="delete-btn" style="margin-left: 1em;" (click)="delteBlog(blog._id)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </mat-drawer-content>
</mat-drawer-container>