<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Overview"> Overview </mat-tab>
    <mat-tab label="Message"> Message</mat-tab>
    <mat-tab label="Blog">
        <div>
            <div class="container" style="padding-top: 5%;">
                <div>
                    <button mat-raised-button color="primary" style="width: 100%;" (click)="editDate()">ADD BLOG </button>
                </div>

                <div style="padding-top: 2em;padding-bottom: 2em;display: none;" id="blog">

                    <mat-horizontal-stepper [linear]="true" #stepper style="background-color: #222;">
                        <mat-step [stepControl]="">
                            <div style="padding-top: 2em;padding-bottom: 2em;">
                                <form [formGroup]="blogHeadersForm">
                                    <div>
                                        <mat-form-field appearance="standard" style="width: 80%;">
                                            <mat-label>Header</mat-label>
                                            <input formControlName="header" matInput>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-form-field appearance="standard" style="width: 80%;">
                                            <mat-label>Short header</mat-label>
                                            <input formControlName="shortText" matInput type="text">
                                        </mat-form-field>
                                    </div>
                                </form>
                                <div>
                                    <button mat-raised-button (click)="stepper.next()" color="primary" style="width: 40%;">NEXT</button>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step [stepControl]="">
                            <h1 class="blog-h1">Blog description</h1>
                            <mat-divider></mat-divider>
                            <div style="padding-top: 2em;padding-bottom: 2em;">
                                <ckeditor #editor [editor]="Editor" data="{{editorData}}"></ckeditor>
                            </div>
                            <div>
                                <button mat-raised-button matStepperPrevious style="width: 40%;background-color: #333;color: #ffa900;">back</button>
                                <button mat-raised-button (click)="stepper.next()" style="width: 40%;margin-left: 1em;background-color: #ffa900;">next</button>
                            </div>
                        </mat-step>

                        <mat-step [stepControl]="">
                            <form [formGroup]="imageForm">
                                <h1 class="blog-h1">Images</h1>

                                <mat-divider></mat-divider>
                                <div style="padding-top: 2em;">
                                    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="addFiles($event)">
                                        <input hidden type="file" #fileInput multiple (change)="addFiles($event.target.files)">
                                    </div>

                                </div>

                                <div class="text-left" style="margin-bottom: 1em;">
                                    <mat-slide-toggle #toggle id="toggle" formControlName="isUploaded" [style.color]="isReady ? 'red':'#4BB543' ">{{isReady}}</mat-slide-toggle>
                                    <button class="upload-btn" mat-icon-button (click)="getFiles()"><mat-icon>cloud_upload</mat-icon></button>
                                </div>
                                <div>
                                    <li *ngFor="let item of fileUploadList">
                                        {{item.name}}
                                    </li>
                                </div>
                                <div class="text-left">
                                    <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar><br>
                                </div>


                                <div style="padding-top: 2em;">
                                    <button mat-raised-button matStepperPrevious style="width: 40%;background-color: #333;color: #ffa900;">back</button>
                                    <button mat-raised-button (click)="stepper.next()" style="width: 40%;margin-left: 1em;background-color: #ffa900;">next</button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <a class="technology-a" (click)="openAddTechDialog()">
                                <h1 class="blog-h1 technology-a">Technologies</h1>
                            </a>
                            <li *ngFor="let tech of listOfTechnology">
                                <mat-checkbox (change)="addTechnology($event,tech)">
                                    {{tech.title}}
                                </mat-checkbox>
                            </li>
                            <div>
                                <button mat-raised-button matStepperPrevious style="width: 40%;background-color: #333;color: #ffa900;">BACK</button>
                                <button mat-raised-button style="width: 40%;margin-left: 1em;background-color: #ffa900;" (click)="save()">SAVE</button>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>

            </div>
        </div>
    </mat-tab>
</mat-tab-group>