.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #555 !important;
}

input {
    color: #eee;
    font-size: 20px;
}

mat-label {
    color: #ffa900;
}

mat-horizontal-stepper {
    -webkit-box-shadow: 10px 10px 20px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -13px rgba(0, 0, 0, 0.75);
}

.blog-h1 {
    color: #ffa900;
    font-family: 'Righteous', cursive;
}

mat-divider {
    border-top-color: #666;
}

button {
    text-transform: uppercase;
}

.new_Btn {
    background-color: #ffa900;
}

#html_btn {
    display: none;
}

.technology-a:hover {
    color: #eee;
    transition: .5s;
}