<div class="text-left container" style="padding: 5em;">
    <form [formGroup]="answerForm">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Mail</mat-label>
                <input formControlName="mail" matInput placeholder="Mail" value="{{data.mail}}">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Subject</mat-label>
                <input formControlName="subject" matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Poruka</mat-label>
                <input formControlName="message" matInput>
            </mat-form-field>
        </div>

        <div class="text-left">
            <button mat-button class="send-btn" (click)="sendMail()">Posalji</button>
        </div>
    </form>
</div>