<mat-tab-group (selectedTabChange)="getBoard($event)" mat-stretch-tabs>
    <mat-tab  *ngFor="let tab of listOfBoard" label="{{tab.title}}" (click)="getBoard(tab)">
        <div class="content">
            <div class="row card-row">
                <div class="col">
                    <div class="new-card card">
                        <div class="row new-card-title-row">
                            <div class="col">
                                <h1>To Do</h1>
                            </div>
                            <div class="col text-right">
                                <button mat-button (click)="openNewTaskDialog(tab)"><i class="fa fa-plus-circle"
                                        style="font-size: 30px;"></i></button>
                            </div>
                        </div>
                        <div class="container card-container" *ngFor="let task of tab.cardList">
                            <div class="card-content" (click)="openTaskDetail(task)"
                                *ngIf="task.id_card_status.id_card_status===1;">
                                <h2>{{task.header}}</h2>
                                <p>{{task.text}} </p>
                                <div class="text-right">
                                    <h6 style="font-weight: bolder;color: red;">{{task.due_date}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="in-progress-card card">
                        <h1 class="card-header-title">In progress</h1>
                        <div class="container card-container" (click)="openTaskDetail(task)"
                            *ngFor="let task of tab.cardList">
                            <div class="card-content" *ngIf="task.id_card_status.id_card_status===2;">
                                <h2>{{task.header}}</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="done-card card">
                        <h1 class="card-header-title">Done</h1>
                        <div class="container card-container" (click)="openTaskDetail(task)"
                            *ngFor="let task of tab.cardList">
                            <div class="card-content" *ngIf="task.id_card_status.id_card_status===3;">
                                <h2>{{task.header}}</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <button mat-icon-button (click)="openCreateBoardDialog()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </ng-template>
    </mat-tab>
</mat-tab-group>