.row {
    margin: 0 !important;
}

.content {
    background-color: #21253D;
    min-height: 95vh;
}

.card-title {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    margin-top: 2em;
    color: #eee;
    background-color: #2E2F3C;
}

.card{
    color: #21253D;
    padding-top: 1em;
}

.new-card {
    border-top: 4px solid red;
}

.done-card {
    border-top: 4px solid #4BB543;
}
.in-progress-card{
    border-top: 4px solid #FFC830;
}

.card-row{}