/* You can add global styles to this file, and also import other style files */

@import '~font-awesome/css/font-awesome.css';
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #ff9600 !important;
}

a {
    cursor: pointer;
}

.mat-tab-label {
    color: #eee;
}

.mat-dialog-container {
    padding: 0px !important;
}

::-webkit-scrollbar {
    height: 1em;
    width: 10px;
    background-color: transparent
}

 ::-webkit-scrollbar-thumb {
    background: #ffa900;
    border-radius: 10px;
}

.techDialog {
    filter: blur(20px);
}

img {
    vertical-align: baseline;
}

@media screen and (min-width: 1024px){
  body {
    zoom: 80%;
  }
}
body {
    background-color: rgba(0, 0, 0, 0.979);
}

@media screen and (max-width:600px) {
    body {
        zoom: 90%;
    }
}
