/* You can add global styles to this file, and also import other style files */

@import '~font-awesome/css/font-awesome.css';
@import url('assets/css/imagehover.css-master/css/imagehover.min.css');
body {
    background-color: #121212 !important;
}

.mat-progress-bar-fill::after {
    background-color: #ff9600 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #ff9600 !important;
}

.mat-dialog-container {
    padding: 0px !important;
}