@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai+2&display=swap');

div{
    font-family: 'Baloo Bhai 2', cursive;
}

h3,h5{
    padding-top: .5em;
    padding-left: .5em;
}

.header-row{
    padding-top: 1em;
    padding-left: .5em;
}

img{
    border-radius: 5px;
}

.row{
    margin: 0 !important;
}

a{
    color: #21253D;
}

mat-icon{
    color: #ff9000;
}

.update-btn{
    font-size: 18px;
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}