@import '../../assets/css/sidebar/sidebar.css';
.header {
    height: 100vh;
    background-image: url('../../assets/img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar a {
    color: #e1e1e1 !important;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
}

.navbar {
    padding-top: 3em;
    padding-left: 3em;
}

.header-left-col h1 {
    font-family: 'Righteous', cursive;
}

.first-h1 {
    color: #333333;
    font-size: 70px;
}

.second-h1 {
    color: #666;
    font-size: 75px;
}

.third-h1 {
    color: #999;
    font-size: 80px;
}

.header-container {
    padding-left: 10%;
    padding-right: 10%;
}

.header-left-col {
    padding-top: 8em;
}

.header-btn {
    padding: .7em 5em .7em 5em;
    background-color: #ffa900;
    border: 1px solid #ffa900;
    border-radius: 3px;
    font-size: 20px;
}

.icon-div {
    padding-top: 2em;
    font-family: 'Dosis', sans-serif;
    color: #ffa900;
}

.icon-div h1 {
    font-family: 'Montserrat', sans-serif;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.header-container h3 {
    font-family: 'Montserrat', sans-serif;
    color: #eee;
    padding-top: 1em;
}

.blog-h1 {
    font-family: 'Righteous', cursive;
    font-size: 70px;
    padding-top: 2em;
    color: #0011FF;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 55%;
    border-bottom: 1px solid #0011FF;
    transform: translate(-50%, -50%);
}

.slider-img {
    -webkit-box-shadow: 3px 81px 49px -55px rgba(255, 255, 255, 1);
    -moz-box-shadow: 3px 81px 49px -55px rgba(255, 255, 255, 1);
    box-shadow: 3px 81px 49px -55px rgba(255, 255, 255, 1);
    vertical-align: auto !important;
    width: 500px;
    opacity: .1;
}

#slider-img:hover {
    opacity: .9;
    transition: .5s;
}

#slider-img:hover~#slider-h3 {
    display: none;
    transition: .5s;
}

.slider-img h3:hover {
    display: none;
}

.blog-slider-h3 {
    font-family: 'Montserrat', sans-serif;
}

.blog-slider-h3:hover {
    display: none;
    transition: .5s;
}

.blog-h4 {
    color: #666;
    padding-top: .5em;
    margin: 0 !important;
    font-family: 'Montserrat', sans-serif;
}

mat-divider {
    border-top-color: #333;
}

.about-div {
    background-color: #121212;
}

.bio-img {
    height: 600px;
    -webkit-box-shadow: 33px 79px 0px 0px rgba(255, 170, 0, 0.61);
    -moz-box-shadow: 33px 79px 0px 0px rgba(255, 170, 0, 0.61);
    box-shadow: 33px 79px 0px 0px rgba(255, 170, 0, 0.61);
}

.bio-img-blue {
    height: 600px;
    -webkit-box-shadow: 33px 79px 0px 0px #0011ff7c;
    -moz-box-shadow: 33px 79px 0px 0px #0011ff7c;
    box-shadow: 33px 79px 0px 0px #0011ff7c;
}

.about-div {
    padding: 15em 0 15em 0;
}

.bio-h1 {
    font-family: 'Righteous', cursive;
    color: #e1e1e1;
}

.bio-h3 {
    color: #ffa900 !important;
}

.bio-paragraf {
    font-family: 'Montserrat', sans-serif !important;
    color: #eee !important;
    font-size: 20px;
}

.vertical-divider {
    /* border-left: 1px solid #38546d;
    border-right: 1px solid #16222c;
    height: 80px;
    position: absolute;
    right: 249px;
    top: 10px; */
}

ul {
    list-style: none;
    padding-top: 1em;
    /* Remove default bullets */
}

ul li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #0011FF;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}

li {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif !important;
    color: #e1e1e1;
}