<mat-drawer-container class="example-container" value="true">
    <mat-drawer #drawer mode="over" class="sidenav-content zoom" style="width: 100%;">
        <div class="navbar-nav side-menu">
            <div class="text-right">
                <button class="navbar-toggler" (click)="drawer.toggle()" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" style="font-size: 40px;" aria-label="Toggle navigation">
                    <i class="fa fa-close" style="color: #121212;"></i>
                  </button>
            </div>
            <div style="padding-top: 10em;">
                <a class="nav-item nav-link active">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Works</a>
                <a class="nav-item nav-link" (click)="scrollToElement('contact')">Contact</a>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>

        <div class="header">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#"><img src="../../assets/img/1200px-Code 1.png" class="img-fluid" alt=""></a>
                <button class="navbar-toggler" (click)="drawer.toggle()" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" style="font-size: 40px;" aria-label="Toggle navigation">
                  <i class="fa fa-align-right" style="color: #ffa900;"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Works</a>
                        <a class="nav-item nav-link" href="#">Contact</a>
                    </div>
                </div>
            </nav>

            <div class="header-container">
                <div class="row text-center">
                    <div class="col-sm header-left-col">
                        <h1 class="first-h1 text-left">Look</h1>
                        <h1 class="second-h1 text-left">At</h1>
                        <h1 class="third-h1 text-left">Our work</h1>
                        <div class="text-left">
                            <button class="header-btn">MORE</button>
                        </div>
                        <h3 class="text-left">Lorem ipsum dolor nunc nuc dolor</h3>
                        <div class="text-left row icon-div">
                            <h1 class="fasfa"><i class="fa fa-github" aria-hidden="true"></i> Github</h1>
                            <h1 class="fasfa" style="padding-left: 2em;"><i class="fa fa-envelope" aria-hidden="true"></i> Email</h1>
                        </div>
                    </div>
                    <div class="col-sm-7 construction-img">
                        <img src="../../assets/img/header-right.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>


        </div>
        <div style="background-color: #121212;">
            <div class="header-container">
                <div class="text-left">
                    <h1 class="blog-h1">Our works</h1>
                    <mat-divider></mat-divider>
                    <h4 class="blog-h4">Lorem ipsum dolor nunc</h4>
                </div>
            </div>
            <swiper [config]="config" style="margin-top: 5em;" class="desktop-slider">

                <div class="swiper-wrapper product-slider-container">

                    <div class="swiper-slide slider" *ngFor="let blog of listOfBlogs|slice:0:3; let i = index" [attr.data-index]="i">
                        <a routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active">
                            <div class="img-container">
                                <div style="padding-bottom: 1em;">
                                    <h3 id="slider-h3" class="blog-slider-h3 text-center">{{blog.header}}</h3>
                                </div>
                                <img class="slider-img" id="slider-img" src="{{blog.listOfImages[0].url}} " />


                                <div>
                                    <!-- <button class="border-btn-orange " routerLink="/detail/{{product.idProduct}} " routerLinkActive="router-link-active " mat-button>Detail</button>
                                <button mat-button class="full-btn-orange " (click)="addToCart(product) ">Add to card</button> -->
                                </div>
                            </div>
                        </a>
                    </div>


                </div>


                <!-- Add Arrows -->

            </swiper>
            <swiper [config]="mobileConfig" style="margin-top: 5em; display: none;" class="mobile-slider">

                <div class="swiper-wrapper product-slider-container">

                    <div class="swiper-slide slider" *ngFor="let blog of listOfBlogs|slice:0:3; let i = index" [attr.data-index]="i">
                        <a routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active">
                            <div class="img-container">
                                <div style="padding-bottom: 1em;">
                                    <h3 id="slider-h3" class="blog-slider-h3 text-center">{{blog.header}}</h3>
                                </div>
                                <img class="slider-img" id="slider-img" src="{{blog.listOfImages[0].url}} " />


                                <div>
                                    <!-- <button class="border-btn-orange " routerLink="/detail/{{product.idProduct}} " routerLinkActive="router-link-active " mat-button>Detail</button>
                                <button mat-button class="full-btn-orange " (click)="addToCart(product) ">Add to card</button> -->
                                </div>
                            </div>
                        </a>
                    </div>


                </div>


                <!-- Add Arrows -->

            </swiper>
        </div>

        <div style="background-color: #121212;padding-top: 10em;">
            <div class="header-container">
                <div class="text-right">
                    <h1 class="blog-right-text">Look at our works</h1>
                    <mat-divider style="border-top-color: #333;"></mat-divider>
                    <h4 class="blog-h4">Lorem ipsum dolor nunc</h4>

                </div>
                <div class="row" style="margin-top: 5em;">
                    <div class="col-sm-5">
                        <div class="row" *ngFor="let blog of listOfBlogs|slice:3:4; let i = index" [attr.data-index]="i" routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active">

                            <div class="col-sm" style="padding: 1em;background-color: #272727;">
                                <img src="{{blog.listOfImages[0].url}} " alt="" class="img-fluid blog-small-preview-img">
                            </div>
                            <div class="col-sm-7" style="background-color: #ffa900;padding: 1em;">
                                <div style="padding: 1em;">
                                    <div class="text-right">
                                        <button class="blog-btn" routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active">MORE</button>
                                    </div>
                                    <h1 class="text-left blog-small-preview-h3">{{blog.header}}</h1>
                                    <h4 class="text-left blog-small-preview-h4">{{blog.shortText}}</h4>
                                    <p style="font-size: 5px;">{{blog.longText}}</p>

                                    <div class="row">
                                        <div class="col">
                                            <img src="{{blog.listOfImages[1].url}} " alt="" class="img-fluid small-img">
                                        </div>
                                        <div class="col">
                                            <img src="{{blog.listOfImages[2].url}} " alt="" class="img-fluid small-img">
                                        </div>
                                        <div class="col-sm">
                                            <img src="{{blog.listOfImages[3].url}} " alt="" class="img-fluid small-img">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-2" *ngFor="let blog of listOfBlogs|slice:4:5; let i = index" [attr.data-index]="i" routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active">
                        <div class="blog-card">
                            <img src="{{blog.listOfImages[0].url}} " alt="" class="img-fluid">

                            <div class="card-content" style="padding: 1em;">
                                <h4 style="padding: 0 !important;">{{blog.header}}</h4>
                                <h5>{{blog.shortText}}</h5>
                                <h4><i class="fa fa-eye" aria-hidden="true"></i> {{blog.numberOfViews}}</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="row" *ngFor="let blog of listOfBlogs|slice:5:6; let i = index" [attr.data-index]="i">
                            <div class="col-sm small-blog-col" style="background-color: #0011FF;padding-bottom: 2em;">
                                <div class="text-right">
                                    <button mat-icon-button routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active"><mat-icon>add_circle</mat-icon></button>
                                </div>
                                <div class="text-center">
                                    <h3 class="small-blog" style="color: #121212;">{{blog.header}}</h3>
                                </div>

                            </div>
                            <div class="col-sm small-blog-col" style="background-color: #0011FF;margin-left: 1em;padding-bottom: 2em;">
                                <div class="text-right">
                                    <button mat-icon-button routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active"><mat-icon>add_circle</mat-icon></button>
                                </div>
                                <div class="text-center">
                                    <h3 class="small-blog text-center">{{blog.header}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1em;" *ngFor="let blog of listOfBlogs|slice:6:7; let i = index" [attr.data-index]="i">
                            <div class="col-sm small-blog-col" style="background-color: #ffa900;padding-bottom: 2em;">
                                <div class="text-right">
                                    <button mat-icon-button routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active"><mat-icon>add_circle</mat-icon></button>
                                </div>
                                <div class="text-center">
                                    <h3 class="small-blog" style="color: #121212;">{{blog.header}}</h3>
                                </div>

                            </div>
                            <div class="col-sm small-blog-col" style="background-color: #ffa900 ;margin-left: 1em;padding-bottom: 2em;">
                                <div class="text-right">
                                    <button mat-icon-button routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active"><mat-icon>add_circle</mat-icon></button>
                                </div>
                                <div class="text-center">
                                    <h3 class="small-blog text-center">{{blog.header}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 10em;">
                    <div class="col-sm-3 work-card" *ngFor="let popular of listOfBlogs|slice:7">
                        <div class="popular-blog-figure">
                            <img src="{{popular.listOfImages[0].url}}" alt="" class="img-fluid">
                            <div class="blog-figure-content text-left">
                                <h4>{{popular.shortText}}</h4>
                                <h2 style="color: #0011FF;">{{popular.header}}</h2>
                                <div class="row">
                                    <div class="col-sm btn-col text-left">
                                        <div>
                                            <button class="blog-content-btn" routerLink="/blog/{{popular.id}}" routerLinkActive="router-link-active">VIEW</button>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="text-right">
                                            <h4><i class="fa fa-eye" aria-hidden="true"></i> {{popular.numberOfViews}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-div ">
            <div class="header-container ">
                <div class="row ">
                    <div class="col-sm-5 text-center ">
                        <img src="../../assets/img/D17D5CFC-50B4-4DBD-A835-73663553726A.jpg " alt=" " class="img-fluid bio-img ">
                    </div>
                    <div class="col-sm text-left ">
                        <h3 class="bio-h3 ">My name is</h3>
                        <h1 class="bio-h1 ">Aleksa</h1>
                        <p class="bio-paragraf ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
                        <div class="text-left ">
                            <div class="row ">
                                <div class="col-sm ">
                                    <h3>Frontend</h3>
                                    <mat-divider style="border-top-color: #ffa900; "></mat-divider>
                                    <ul id="orange">
                                        <li>HTML/CSS</li>
                                        <li>Angular</li>
                                        <li>Bootstrap</li>
                                    </ul>
                                </div>
                                <div class="col-sm ">
                                    <h3>Backend</h3>
                                    <mat-divider style="border-top-color: #ffa900; "></mat-divider>
                                    <ul id="orange">
                                        <li>Java/SpringBoot</li>
                                        <li>NodeJS/Express</li>
                                        <li>JSP/ORM</li>
                                        <li>TypeScript</li>

                                    </ul>
                                </div>

                            </div>
                            <div class="row ">
                                <div class="col-sm ">
                                    <h3>Database</h3>
                                    <mat-divider style="border-top-color: #ffa900; "></mat-divider>
                                    <ul id="orange">
                                        <li>MySQL</li>
                                        <li>MongoDB</li>
                                    </ul>
                                </div>
                                <div class="col-sm ">
                                    <canvas baseChart [datasets]="barChartDataBackend " [labels]="barChartLabelsBackend " [options]="barChartOptions " [plugins]="barChartPlugins " [legend]="barChartLegend " [chartType]="pieChartType ">
                                        </canvas>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div style="background-color: #121212;max-width: 100%; ">
            <div class="container vertical-divider "></div>
        </div>

        <div class="about-div ">
            <div class="header-container ">
                <div class="row ">
                    <div class="col-sm-5 text-center marko-img" style="display: none;">
                        <img src="../../assets/img/marko.jpeg " alt=" " class="img-fluid bio-img-blue ">
                    </div>
                    <div class="col-sm text-left ">
                        <h3 class="bio-h3 " style="color: #0011FF !important; ">My name is</h3>
                        <h1 class="bio-h1 ">Marko</h1>
                        <p class="bio-paragraf ">Hi, I’m Marko! I’m 21 years old, self-taught Web Developer, from Serbia. After my high school, I enrolled in information technology at Metropolitan University, where I continue to study. For whole year I create high number HTML
                            & CSS websites following given designs. After a year of working, I started learning more advanced web programming technologies. The technologies that I learned:JavaScript, Angular, and PHP. Together, me, my colleague and our
                            team, we will do our best to turn all your wishes into reality and bring you one step ahead of the competition.</p>
                        <div class="text-left ">
                            <div class="row ">
                                <div class="col-sm ">
                                    <h3>Frontend</h3>
                                    <mat-divider style="border-top-color: #0011FF; "></mat-divider>
                                    <ul id="blue">
                                        <li>HTML/CSS</li>
                                        <li>Angular</li>
                                        <li>Bootstrap</li>
                                    </ul>
                                </div>
                                <div class="col-sm ">
                                    <h3>Backend</h3>
                                    <mat-divider style="border-top-color: #0011FF; "></mat-divider>
                                    <ul id="blue">
                                        <li>Java</li>
                                        <!-- <li>NodeJS</li> -->
                                        <li>PHP</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="row ">
                                <div class="col-sm ">
                                    <h3>Database</h3>
                                    <mat-divider style="border-top-color: #0011FF; "></mat-divider>
                                    <ul id="blue">
                                        <li>MySQL</li>
                                        <!-- <li>MongoDB</li> -->
                                    </ul>
                                </div>
                                <div class="col-sm ">
                                    <canvas baseChart [datasets]="barChartDataMarko" [labels]="barChartLabelsBackend " [options]="barChartOptions " [plugins]="barChartPlugins " [legend]="barChartLegend " [chartType]="pieChartType ">
                                        </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 text-center marko-imgDef">
                        <img src="../../assets/img/marko.jpeg " alt=" " class="img-fluid bio-img-blue ">
                    </div>

                </div>
            </div>
        </div>

        <app-footer id="contact"></app-footer>

    </mat-drawer-content>
</mat-drawer-container>