<mat-drawer-container class="example-container" value="true">
    <mat-drawer #drawer mode="over" class="sidenav-content zoom" style="width: 100%;">
        <div class="navbar-nav side-menu">
            <div class="text-right">
                <button class="navbar-toggler" (click)="drawer.toggle()" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" style="font-size: 40px;" aria-label="Toggle navigation">
                    <i class="fa fa-close" style="color: #121212;"></i>
                  </button>
            </div>
            <div style="padding-top: 10em;">
                <a class="nav-item nav-link active">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" (click)="scrollToElement(work)"><a (click)="drawer.toggle()">Works</a></a>
                <a (click)="drawer.toggle()" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>

                <!-- <a class="nav-item nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active"></a> -->

            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>

        <div class="header">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100"><img src="../../assets/img/1200px-Code 1.png" class="img-fluid" alt=""></a>
                <button class="navbar-toggler" (click)="drawer.toggle()" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" style="font-size: 40px;" aria-label="Toggle navigation">
                  <i class="fa fa-align-right" style="color: #ffa900;"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200" class="nav-item nav-link active" style="color: #ffa900 !important;">Home <span class="sr-only">(current)</span></a>
                        <a data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300" class="nav-item nav-link" (click)="scrollToElement(work)">Works</a>
                        <a data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400" class="nav-item nav-link" style="color: #fff;" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>

                    </div>
                </div>
            </nav>

            <div class="header-container">
                <div class="row text-center" style="zoom: 90%;">
                    <div class="col-sm header-left-col">
                        <h1 class="first-h1 text-left" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">Look</h1>
                        <h1 class="second-h1 text-left" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200">At</h1>
                        <h1 class="third-h1 text-left" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300">Our work</h1>
                        <div class="text-left">
                            <button class="header-btn" (click)="scrollToElement(more)" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400">MORE</button>
                        </div>
                        <h3 class="text-left" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" style="color: #F3F4F5;">Check out our recent blogs</h3>
                        <div class="text-left row icon-div">
                            <a href="https://github.com/luxal99" style="color: #ffa900;">
                                <h1 class="fasfa" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600"><i class="fa fa-github" aria-hidden="true"></i> Github</h1>
                            </a>
                            <h1 class="fasfa" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="700" style="padding-left: 2em;"><i class="fa fa-envelope" aria-hidden="true"></i> Email</h1>
                        </div>
                    </div>
                    <div class="col-sm-7 construction-img">
                        <img data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="800" src="../../assets/img/right.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>


        </div>

        <div style="background-color: #121212;zoom: 90%;">
            <div class="header-container">
                <div class="text-left">
                    <h1 class="blog-h1" #more data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">Our works</h1>
                    <mat-divider data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200"></mat-divider>
                    <h4 class="blog-h4" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">Slide for more projects</h4>
                </div>
            </div>
            <swiper [config]="config" style="margin-top: 5em;" class="desktop-slider">

                <div class="swiper-wrapper product-slider-container">

                    <div class="swiper-slide slider" *ngFor="let blog of listOfBlogs|slice:0:3; let i = index" [attr.data-index]="i">
                        <a routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active">
                            <div class="img-container">
                                <div style="padding-bottom: 1em;">
                                    <h3 id="slider-h3" class="blog-slider-h3 text-center">{{blog.header}}</h3>
                                </div>
                                <img class="slider-img" id="slider-img" src="{{blog.listOfImages[0].url}} " />


                                <div>
                                    <!-- <button class="border-btn-orange " routerLink="/detail/{{product.idProduct}} " routerLinkActive="router-link-active " mat-button>Detail</button>
                                <button mat-button class="full-btn-orange " (click)="addToCart(product) ">Add to card</button> -->
                                </div>
                            </div>
                        </a>
                    </div>


                </div>


                <!-- Add Arrows -->

            </swiper>
            <swiper [config]="mobileConfig" style="margin-top: 5em; display: none;" class="mobile-slider">

                <div class="swiper-wrapper product-slider-container">

                    <div class="swiper-slide slider" *ngFor="let blog of listOfBlogs|slice:0:3; let i = index" [attr.data-index]="i">
                        <a routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active">
                            <div class="img-container">
                                <div style="padding-bottom: 1em;">
                                    <h3 id="slider-h3" class="blog-slider-h3 text-center">{{blog.header}}</h3>
                                </div>
                                <img class="slider-img" id="slider-img" src="{{blog.listOfImages[0].url}} " />


                                <div>
                                    <!-- <button class="border-btn-orange " routerLink="/detail/{{product.idProduct}} " routerLinkActive="router-link-active " mat-button>Detail</button>
                                <button mat-button class="full-btn-orange " (click)="addToCart(product) ">Add to card</button> -->
                                </div>
                            </div>
                        </a>
                    </div>


                </div>


                <!-- Add Arrows -->

            </swiper>
        </div>

        <div style="background-color: #121212;padding-top: 10em;" #work>
            <div class="header-container">
                <div class="text-right">
                    <h1 class="blog-right-text" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">Look at our works</h1>
                    <mat-divider style="border-top-color: #333;" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200"></mat-divider>
                    <h4 class="blog-h4" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">You can see some of our projects</h4>

                </div>
                <div class="row" style="margin-top: 5em;">
                    <div class="col-sm-5">
                        <div class="row" *ngFor="let blog of listOfBlogs|slice:3:4; let i = index" [attr.data-index]="i" routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active">

                            <div class="col-sm" style="padding: 1em;background-color: #272727;" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100">
                                <img src="{{blog.listOfImages[0].url}} " alt="" class="img-fluid blog-small-preview-img" data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="400">
                            </div>
                            <div class="col-sm-7" style="background-color: #ffa900;padding: 1em;" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300">
                                <div style="padding: 1em;">
                                    <div class="text-right">
                                        <button class="blog-btn" routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500">MORE</button>
                                    </div>
                                    <h1 class="text-left blog-small-preview-h3" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600">{{blog.header}}</h1>
                                    <h4 class="text-left blog-small-preview-h4" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="700">{{blog.shortText}}</h4>
                                    <p style="font-size: 5px;" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="800">{{blog.longText}}</p>

                                    <div class="row">
                                        <div class="col">
                                            <img src="{{blog.listOfImages[1].url}} " alt="" class="img-fluid small-img" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="900">
                                        </div>
                                        <div class="col">
                                            <img src="{{blog.listOfImages[2].url}} " alt="" class="img-fluid small-img" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000">
                                        </div>
                                        <div class="col-sm">
                                            <img src="{{blog.listOfImages[3].url}} " alt="" class="img-fluid small-img" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1100">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-2" *ngFor="let blog of listOfBlogs|slice:4:5; let i = index" [attr.data-index]="i" routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1200">
                        <div class="blog-card">
                            <img src="{{blog.listOfImages[0].url}} " alt="" class="img-fluid" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="1300">

                            <div class="card-content" style="padding: 1em;">
                                <h4 style="padding: 0 !important;" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1400">{{blog.header}}</h4>
                                <h5 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1500">{{blog.shortText}}</h5>
                                <h4 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1600"><i class="fa fa-eye" aria-hidden="true"></i> {{blog.numberOfViews}}</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-6 small-blog-col" routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active" style="background-color: #F3F4F5;padding-bottom: 2em;" *ngFor="let blog of listOfBlogs|slice:5:6; let i = index" [attr.data-index]="i" data-aos="fade-right"
                                data-aos-duration="1000" data-aos-delay="1700">
                                <div class="text-right">
                                    <button mat-icon-button routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active"><mat-icon>add_circle</mat-icon></button>
                                </div>
                                <div class="text-center">
                                    <h3 class="small-blog" style="color: #121212;">{{blog.header}}</h3>
                                </div>

                            </div>
                            <div class="col-sm small-blog-col" routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active" *ngFor="let blog of listOfBlogs|slice:6:7; let i = index" [attr.data-index]="i" style="background-color: #F3F4F5;margin-left: 1em;padding-bottom: 2em;"
                                data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1800">
                                <div class="text-right">
                                    <button mat-icon-button routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active"><mat-icon>add_circle</mat-icon></button>
                                </div>
                                <div class="text-center">
                                    <h3 class="small-blog text-center">{{blog.header}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1em;">
                            <div class="col-sm-6 small-blog-col" routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active" style="background-color: #ffa900;padding-bottom: 2em;" *ngFor="let blog of listOfBlogs|slice:7:8; let i = index" [attr.data-index]="i" data-aos="fade-up"
                                data-aos-duration="1000" data-aos-delay="1900">
                                <div class="text-right">
                                    <button mat-icon-button routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active"><mat-icon>add_circle</mat-icon></button>
                                </div>
                                <div class="text-center">
                                    <h3 class="small-blog" style="color: #121212;">{{blog.header}}</h3>
                                </div>

                            </div>
                            <div class="col-sm small-blog-col" routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active" *ngFor="let blog of listOfBlogs|slice:8:9; let i = index" [attr.data-index]="i" style="background-color: #ffa900 ;margin-left: 1em;padding-bottom: 2em;"
                                data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2000">
                                <div class="text-right">
                                    <button mat-icon-button routerLink="/blog/{{blog.id}}" routerLinkActive="router-link-active"><mat-icon>add_circle</mat-icon></button>
                                </div>
                                <div class="text-center">
                                    <h3 class="small-blog text-center">{{blog.header}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 10em;">
                    <div class="col-sm-3 work-card" *ngFor="let popular of listOfBlogs|slice:7">
                        <div class="popular-blog-figure">
                            <img src="{{popular.listOfImages[0].url}}" alt="" class="img-fluid">
                            <div class="blog-figure-content text-left">
                                <h4 style="color: #fff;">{{popular.shortText}}</h4>
                                <h2 style="color: #0011FF;">{{popular.header}}</h2>
                                <div class="row">
                                    <div class="col-sm btn-col text-left">
                                        <div>
                                            <button class="blog-content-btn" routerLink="/blog/{{popular.id}}" routerLinkActive="router-link-active">VIEW</button>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="text-right">
                                            <h4 style="color: #fff;"><i class="fa fa-eye" aria-hidden="true"></i> {{popular.numberOfViews}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-div ">
            <div class="header-container " style="zoom: 90%;">
                <div class="row ">
                    <div class="col-sm-5 text-center ">
                        <img src="../../assets/img/D17D5CFC-50B4-4DBD-A835-73663553726A.jpg " alt=" " class="img-fluid bio-img ">
                    </div>
                    <div class="col-sm text-left ">
                        <h3 class="bio-h3 ">My name is</h3>
                        <h1 class="bio-h1 ">Aleksa</h1>
                        <p class="bio-paragraf ">My name is Aleksa Lukić and I'm currently student of the second year of the Metropolitan University,software engineering. Thanks to a modern program and individual effort, I gained the necessary knowledge to create modern websites
                            and web application that you can see in gallery of works, and I have successfully mastered Java to the level that I can make applications for companies that make work easier. Over and above, I've mastered MySQL,NodeJS,Angular,TypeScript
                            too.
                        </p>
                        <div class="text-left ">
                            <div class="row ">
                                <div class="col-sm ">
                                    <h3>Frontend</h3>
                                    <mat-divider style="border-top-color: #ffa900; "></mat-divider>
                                    <ul id="orange">
                                        <li>HTML/CSS</li>
                                        <li>Angular</li>
                                        <li>Bootstrap</li>
                                    </ul>
                                </div>
                                <div class="col-sm ">
                                    <h3>Backend</h3>
                                    <mat-divider style="border-top-color: #ffa900; "></mat-divider>
                                    <ul id="orange">
                                        <li>Java/SpringBoot</li>
                                        <li>NodeJS/Express</li>
                                        <li>JSP</li>
                                        <li>ORM</li>
                                        <li>TypeScript</li>

                                    </ul>
                                </div>

                            </div>
                            <div class="row ">
                                <div class="col-sm ">
                                    <h3>Database</h3>
                                    <mat-divider style="border-top-color: #ffa900; "></mat-divider>
                                    <ul id="orange">
                                        <li>MySQL</li>
                                        <li>MongoDB</li>
                                    </ul>
                                </div>
                                <div class="col-sm ">
                                    <canvas baseChart [datasets]="barChartDataBackend " [labels]="barChartLabelsBackend " [options]="barChartOptions " [plugins]="barChartPlugins " [legend]="barChartLegend " [chartType]="pieChartType ">
                                        </canvas>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div style="background-color: #121212;max-width: 100%; ">
            <div class="container vertical-divider "></div>
        </div>

        <div class="about-div ">
            <div class="header-container " style="zoom: 90%;">
                <div class="row ">
                    <div class="col-sm-5 text-center marko-img" style="display: none;">
                        <img src="../../assets/img/marko.jpeg " alt=" " class="img-fluid bio-img-blue ">
                    </div>
                    <div class="col-sm text-left ">
                        <h3 class="bio-h3 " style="color: #00ffff !important; ">My name is</h3>
                        <h1 class="bio-h1 ">Marko</h1>
                        <p class="bio-paragraf ">Hi, I’m Marko! I’m 21 years old, self-taught Web Developer, from Serbia. After my high school, I enrolled in information technology at Metropolitan University, where I continue to study. For whole year I create high number HTML
                            & CSS websites following given designs. After a year of working, I started learning more advanced web programming technologies. The technologies that I learned:JavaScript, Angular, and PHP. Together, me, my colleague and our
                            team, we will do our best to turn all your wishes into reality and bring you one step ahead of the competition.</p>
                        <div class="text-left ">
                            <div class="row ">
                                <div class="col-sm ">
                                    <h3>Frontend</h3>
                                    <mat-divider style="border-top-color: #00ffff; "></mat-divider>
                                    <ul id="blue">
                                        <li>HTML/CSS</li>
                                        <li>Angular</li>
                                        <li>Bootstrap</li>
                                    </ul>
                                </div>
                                <div class="col-sm ">
                                    <h3>Backend</h3>
                                    <mat-divider style="border-top-color: #00ffff; "></mat-divider>
                                    <ul id="blue">
                                        <li>Java</li>
                                        <!-- <li>NodeJS</li> -->
                                        <li>PHP</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="row ">
                                <div class="col-sm ">
                                    <h3>Database</h3>
                                    <mat-divider style="border-top-color: #00ffff; "></mat-divider>
                                    <ul id="blue">
                                        <li>MySQL</li>
                                        <!-- <li>MongoDB</li> -->
                                    </ul>
                                </div>
                                <div class="col-sm ">
                                    <canvas baseChart [datasets]="barChartDataMarko" [labels]="barChartLabelsBackend " [options]="barChartOptions " [plugins]="barChartPlugins " [legend]="barChartLegend " [chartType]="pieChartType ">
                                        </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 text-center marko-imgDef">
                        <img src="../../assets/img/marko.jpeg " alt=" " class="img-fluid bio-img-blue ">
                    </div>

                </div>
            </div>
        </div>

    </mat-drawer-content>
</mat-drawer-container>