<div style="background-color: #121212;padding: 2em;">
    <div style="padding-top: 2em;padding-bottom: 2em;">
        <form [formGroup]="techForm">
            <div>
                <mat-form-field appearance="standard" style="width: 100%;">
                    <mat-label>Username</mat-label>
                    <input formControlName="title" matInput>
                </mat-form-field>
            </div>
            <div class="text-center">
                <button mat-raised-button (click)="save()" style="width: 100%;background-color: #FFA900;">SAVE</button>
            </div>
        </form>
    </div>
</div>