 .blog-container{
    font-size: 0;
    display: -ms-flexbox;
    -ms-flexbox-wrap: wrap;
    -ms-flexbox-direction:column;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
} 
.blog-div{
    
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    margin: .3vw;
}
