         <div  style="background-color: #ccc;width: 99%; " #blog>
                <div class="row">
                    <div class="col-sm-8" style="padding: 0% !important;">
                        <swiper [config]="config">

                            <div class="swiper-wrapper product-slider-container">
                    
                              <div class="swiper-slide slider" *ngFor="let image of data.images">
                                <div>
                                  <img class="img-fluid" src="{{image}}" />
                              
                                </div>
                              </div>
                    
                            </div>
                    
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                    
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                    
                          </swiper>

                    </div>

                    <div class="col-sm-4">
                        <h4 class="">Naslov 1</h4>
                        <p class="">
                            LOREM IPSUM
                            IMAGES
                            PLUGINS
                            GENERATORS
                            ENGLISH
                            Lorem Ipsum
                            Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
                            industries for previewing layouts and visual mockups.
                        </p>
                        <h4 class="">Naslov 2</h4>
                        <p>
                            LOREM IPSUM
                            IMAGES
                            PLUGINS
                            GENERATORS
                            ENGLISH
                            Lorem Ipsum
                            Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
                            industries for previewing layouts and visual mockups.

                            LOREM IPSUM GENERATOR
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. </p>



                        <h4 class="">Naslov 3</h4>
                        <div class="col" style="padding: .5em;" data-aos="zoom-in" data-aos-duration="1000"
                            data-aos-delay="100">
                            <img src="../../assets/img/1_J9d-VtiLfN9APIQgWTP9ow.png"
                                style="width: 50px;filter: grayscale(100%)" alt="" class="img-fluid">
                            <img src="../../assets/img/1_J9d-VtiLfN9APIQgWTP9ow.png"
                                style="width: 50px;filter: grayscale(100%)" alt="" class="img-fluid">
                            <img src="../../assets/img/1_J9d-VtiLfN9APIQgWTP9ow.png"
                                style="width: 50px;filter: grayscale(100%)" alt="" class="img-fluid">
                            <img src="../../assets/img/1_J9d-VtiLfN9APIQgWTP9ow.png"
                                style="width: 50px;filter: grayscale(100%)" alt="" class="img-fluid">
                        </div>
                    </div>




                </div>



            </div>